<h1><%= session[:name] %>'s Precious Secrets</h1>
<ul>
    <li>I'm going to be young forever if I sing a magic incantation with Rapunzel's hair!</li>
    <li>I'm secretly a vampire and werewolf in one. MUAHAHAHA!</li>
</ul>